
@model GroceryMinder.Web.Models.Grocery.IFormViewModel

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.LastPurchasedAt, new {  @class = "" })
        @Html.TextBoxFor(model => model.LastPurchasedAt, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "" })
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PurchaseFrequency, new { @class = "" })
        
        @Html.EnumDropDownListFor(m => m.PurchaseFrequency, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-success" />
    </div>
}
