@model IList<GroceryMinder.Domain.Models.Grocery>
@{
    ViewBag.Title = "Index";
}

<div class="page-header-container">
    <h2>Groceries</h2>
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary" })
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Category</th>
            <th>Name</th>
            <th>Frequency</th>
            <th>Last Purchased</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var groceryItem in Model)
        {
            <tr>
                <td>@groceryItem.GroceryCategory.Name</td>
                <td>@groceryItem.Name</td>
                <td>@Html.DisplayFor(m => groceryItem.PurchaseFrequency)</td>
                <td>@groceryItem.LastPurchasedAt.ToShortDateString()</td>
                <td class="actions-column">
                    @Html.ActionLink("📖", "Update", new { id = groceryItem.Id}, new { @class = "btn btn-default"})
                    @Html.ActionLink("␡", "Delete", new { id = groceryItem.Id }, new { @class = "btn btn-default delete" })
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Count == 0)
{
    <div class="alert alert-info">
        <p>You have no grocery items.  Click create above to add some!</p>
    </div>
}