@model IList<GroceryMinder.Domain.Models.Grocery>
@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary" } )
<h2>Index</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Purchase Frequency</th>
            <th>Last Purchased On</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var groceryItem in Model)
        {
            <tr>
                <td>@groceryItem.Name</td>
                <td>@Html.DisplayFor(m => groceryItem.PurchaseFrequency)</td>
                <td>@groceryItem.LastPurchasedAt.ToShortDateString()</td>
                <td>
                    @Html.ActionLink("Update", "Update", new { id = groceryItem.Id}, new { @class = "btn btn-default"})
                    @Html.ActionLink("Delete", "Delete", new { id = groceryItem.Id }, new { @class = "btn btn-default delete" })
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Count == 0)
{
    <div class="alert alert-info">
        <p>You have no grocery items.  Click create above to add some!</p>
    </div>
}