
@model GroceryMinder.Web.Models.GroceryCategory.IFormViewModel

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false)
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.GroceryCategoryId)

    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "" })
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control"})
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-success" />
    </div>
}
